/*
==== COLOR PALLET ====
tan: #dad3cc; rgb(218,211,204)
light green: #b0ccbd;
dark green: #799485;
brown: #847b74; rgb(132, 123, 116)
maroon: #8b4d4e;
*/

* {box-sizing: border-box;}


.btn { 
	background-color: #8B4D4E;
	width: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: #8B4D4E;
  height: 35px;
  color: white;
}

.caption { 
  background-color: white;
  text-align: center;
  font-size: 20px;
 }


.category:hover {
    opacity: 1.0;
}



.intro-button {
    background: none;
    border: 2px solid #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 8px 20px;
}

.intro-button:hover {
    color: #8b4d4e;
    background-color: #ffffff;
    text-decoration: none;
}

.intro-img {
	display: table;
	width: 100%;
	height: 100vh;
	background: url(../images/flower-background.jpg) top center fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
}

.JS-answer-choice { 
	font-family: 'Muli', sans-serif;
	font-size: 20px;
	text-align: center;
 }

.menu {
	color: #ffffff;
	font-family: 'Muli', sans-serif;
}

.navbar {
	color: #ffffff;
}

.navbar .navbar-default > li > a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-default {
	color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #b0ccbd !important;
	color: #ffffff !important;
}

.nav-menu-ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu-li {
  position: relative;
  white-space: nowrap;
}

.progress-bar { 
	background-color: #8b4d4e;
	height: 10px;
}

.progress { 
	height: 10px;
	margin-top: 10px;
}

.quest-img {
	display: table;
	width: 100%;
	background: url(../images/questionnaire-background.jpg) center fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
}

.question-button {
    background-color: #8b4d4e;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px 20px;
}

.question-button:hover {
    color: #ffffff;
    background-color: #a95e5f;
}

.questionHeader { 
	font-family: 'Muli', sans-serif;
	font-size: 30px;
	margin-bottom: 10px;
 }

 .startOver { 
	font-family: 'Muli', sans-serif;
 }

.sticky {
    top: 0;
    position: fixed;
}




.bkgd-quest {background: url(../images/questionnaire-background.jpg) top center fixed;}
.bkgd-img {background: url(../images/blue-gifts-background.jpg) top center fixed;}
.bkgd-pattern {background: url(../images/pattern.jpg);}

.bkgd-brown {background-color: #847b74;}
.bkgd-cover {background-size: cover;}
.bkgd-dgreen {background-color: #799485;}
.bkgd-lgreen {background-color: #b0ccbd;}
.bkgd-none {background: none;}
.bkgd-rpt-none {background-repeat: no-repeat;}
.bkgd-tan {background-color: #dad3cc;}
.bkgd-white {background-color: #ffffff;}

.bord-box {box-sizing: border-box;}

.bord-none {border: none;}
.bord-2-solid-white {border: 2px solid #ffffff;}
.bord-4-solid-white {border: 4px solid #ffffff;}
.bord-4-solid-maroon {border: 4px solid #8b4d4e;}
.bord-rad-0 {border-radius: 0;}
.bord-rad-2 {border-radius: 2px;}

.disp-inlineblock {display: inline-block;}
.disp-tabcell {display: table-cell;}

.dropshadow {box-shadow: 0px 3px 10px #4e4e4e;}

.font-bold {font-weight: bold;}
.font-brown {color: #847b74;}
.font-fam-muli {font-family: 'Muli', sans-serif;}
.font-fam-pacifico {font-family: 'Pacifico', cursive;}
.font-h-40 {line-height: 40px;}
.font-lgreen {color: #b0ccbd;}
.font-ls {letter-spacing: 1px;}
.font-maroon {color: #8b4d4e;}
.font-size-13 {font-size: 13px;}
.font-size-15 {font-size: 15px;}
.font-size-17 {font-size: 17px;}
.font-size-23 {font-size: 23px;}
.font-size-30 {font-size: 30px;}
.font-size-40 {font-size: 40px;}
.font-size-50 {font-size: 50px;}
.font-size-75 {font-size: 75px;}
.font-tan {color: #dad3cc;}
.font-uc {text-transform: uppercase;}
.font-wght-500 {font-weight: 500;}
.font-white {color: #ffffff !important;}

.float-l {float: left;}
.float-r {float: right;}

.h-auto {height: auto;}
.h-20pct {height: 20%;}
.h-40 {height: 30px;}
.h-70 {height: 70px;}
.h-100 {height: 100vh;}
.h-max-40 {max-height: 40px;}
.h-max-100pct {max-height: 100%;}

.left-50pct {left: 50;}

.marg-auto {margin: auto auto;}
.marg-0-auto {margin: 0 auto;}
.marg-0 {margin: 0;}
.marg-0-10 {margin: 0 10px;}
.marg-20-5 {margin: 20px 5px;}
.marg-5-0 {margin: 5px 0;}
.marg-10-0 {margin: 10px 0;}
.marg-10 {margin: 10px;}
.marg-20 {margin: 20px;}
.marg-30 {margin: 30px;}
.marg-60 {margin: 60px;}
.marg-b-15 {margin-bottom: 15px;}
.marg-b-40 {margin-bottom: 40px;}
.marg-t-20 {margin-top: 35px;}

.opacity {opacity: 0.7;}
.opacity-none {opacity: 1;}

.overflow {overflow: auto;}

.pad-0 {padding: 0;}
.pad-10 {padding: 10px;}
.pad-20 {padding: 20px;}
.pad-30 {padding: 30px;}
.pad-60 {padding: 60px;}
.pad-30-60 {padding: 30px 60px;}
.pad-8-20 {padding: 8px 20px;}
.pad-10-20 {padding: 10px 20px;}
.pad-20-0 {padding: 20px 0;}
.pad-t-40pct {padding-top: 40%;}

.pos-abs {position: absolute;}
.pos-rel {position: relative;}

.top-10 {top: -5px;}

.txt-algn-cntr {text-align: center;}
.txt-algn-r {text-align: right;}

.vert-algn-cntr {vertical-align: middle;}

.w-20pct {width: 20%;}
.w-30pct {width: 30%;}
.w-100pct {width: 100%;}
.w-max-100pct {max-width: 100%;}
.w-70 {width: 170px;}

.z-index {z-index: 1;}


@media (max-width: 768px) {
	.mm-w-125 {width: 125px;}
  }

@media (max-width: 640px) {
	.ms-float-0 {float: none;}
	.ms-fs-35 {font-size: 35px;}
	.ms-marg-30 {margin: 30px;}
	.ms-marg-0-0-20-0 {margin: 0 auto 20px auto;}
	.ms-pad-30 {padding: 30px;}
	.ms-txt-algn-cntr {text-align: center;}
	.ms-w-70pct {width: 70%;}
	.ms-w-100pct {width: 100%;}
	.ms-w-100 {width: 100px;}
  }






  @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 350px;
    height: 350px;
}


.col-item .photoEbay img
{
    margin: 0 auto;
    width: 350px;
    height: 350px;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #f9f9f9;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price { 
  text-align: center;
 }

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.controls
{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;

}

[data-slide="prev"]
{
    margin-right: 10px;
}

.hidden-sm { 
  font-size: 18px;
 }

a.details { 
  color: #A95E5F;
 }

.details { 
  font-size: 20px;
 }

a:hover.btn { 
  color: #8B4D4E;

 }

.detailButton {
  color: #8B4D4E;
  text-align: center;
  align-content: center;

}

